a {
  text-decoration: none;
}
a.nm-active button {
  background: rgba(255,255,255,0.3);
}
.nmonit header button span {
  color: #ffffff;
}
.highcharts-credits {
  visibility: hidden;
  display: none;
}
.DateInput {
  font-size: 14px;
  line-height: 18px;
  padding: 8px 6px;
}
.DateInput_displayText {
  padding: 0px 4px;
}

/* Header */
.header__menu-items {
  flex: 1;
  list-style: none;
}
.header__menu-item {
  display: inline-block;
  list-style: none;
  position: relative;
  padding: 0;
}
.header__menu-item--overview {

}
.header__right-menu {

}
.header__menu-item--profile img {
  border-radius: 50%;
}
#menu-list {
  width: 130px;
  transform-origin: 0 0 0;
  position: absolute;
  z-index: 11111;
  left: -80px;
  background: #f6f9fc;
  top: 52px;
}
#menu-list a {
  color: rgba(0, 0, 0, 0.87);
}
