a {
  text-decoration: none;
}
a.nm-active button {
  background: rgba(255,255,255,0.3);
}
.nmonit header button span {
  color: #ffffff;
}
.highcharts-credits {
  visibility: hidden;
  display: none;
}
.DateInput {
  font-size: 14px;
  line-height: 18px;
  padding: 8px 6px;
}
.DateInput_displayText {
  padding: 0px 4px;
}
